<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: rgba(198, 194, 255, 0.733);">
    <!-- Section: Social media -->
    <br>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-9"></i>CLASS MANAGEMENT SYSTEM
                    </h6>
                    <p>
                        CMS is a complete solution for college database maanagement, providing data and
                        integrity. Easy to use UI with assistance to make best out of your time.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sections
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Admin</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Student</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Faculty</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">    
                        <a href="#!" class="text-reset">Help and Support</a>
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Started</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Team</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contact</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Pune, India</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 1234567890</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(115, 75, 224); color: cornsilk;">
        <img src="/images/logo1.JPG" style="max-height: 4rem;">

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

</html>